body {
    width: 80%;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-left {
    width: 25px;
    height: 25px;
}